@font-face {
  font-family: "MaisonNeue";
  src: url("/fonts/MaisonNeue-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "GothamPro";
  src: url("/fonts/GothaProBol.otf") format("opentype");
}

