.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-height: rem(200px);
  height: 100%;
  margin: rem(0 24px);

  @include breakpoint(medium) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__icons {
    margin-top: rem(35px);
  }
  &__logo {
   /* height: rem(65px);
    width: rem(121px);*/
    margin-top: rem(40px);
  }
  &__active {
    color: $black;
    margin-top: rem(50px);
    font-weight: 500;
    line-height: rem(16px);
    letter-spacing: rem(1.4px);
    &_btn {
      color: $blue;
    }
  }

  .icons {
    display: inline-block;
  }
  &__icons_social {
    background: url("/img/social-sprit.png");
    background-repeat: no-repeat;
    width: rem(46px);
    height: rem(46px);
    margin-left: rem(12px);
    &--twitter {
      background-position-x: -52px;
    }
    &--telegram {
      background-position-x: -104px;
    }
  }
  & .button--small {
    font-weight: bold;
  }
  &__href{
    color: $black;
    margin-right: rem(32px);
  }
}

.top {
  background: url("/img/technologiesBg.svg") no-repeat bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: rem(118px);
  /*background: $blue;*/
  margin-bottom: rem(145px);
  &__title {
    font-family: $gotham;
    line-height: rem(100px);
    letter-spacing: rem(-2.4px);
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0;

    @include breakpoint(medium) {
      font-size: 4rem;
    }
  }
  &__subtitle {
    font-family: $maisonNeue;
    font-weight: 300;
    line-height: rem(24px);
    text-align: center;
    margin-bottom: rem(48px);
    padding: rem(0 26px);
  }
  &__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @include breakpoint(medium) {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $gotham;
  }
  &__btn--blue {
    margin-bottom: rem(16px);

    @include breakpoint(medium) {
      margin-bottom: 0;
      margin-right: rem(16px);
    }
  }

  &__image {
    /*background: url("/img/technologiesBg.svg") no-repeat;*/
    height: 100%;
    margin-top: rem(85px);
    & > img {
      width: 100%;
    }
  }
  &__description {
    background: $blue;
    font-family: $gotham;
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: rem(84px);*/
    /*margin-bottom: rem(145px);*/
    padding: rem(0 26px);

    @include breakpoint(medium) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &--container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: rem(324px);
      margin-top: rem(84px);

      @include breakpoint(medium) {
        margin-bottom: 0;
        &:not(:last-child) {
          margin-right: rem(83px);
        }
      }
    }
    &--title {
      letter-spacing: rem(-0.8px);
      line-height: rem(48px);
      color: $white;
      margin: rem(16px 0);
    }
    &--text {
      font-weight: 400;
      line-height: rem(24px);
      color: $white;
      text-align: center;
    }
    &--icon {
    }
  }

  .icon-encrypted {
    background: url("/img/icon-1.png");
    width: 5.5rem;
    height: 6.1rem;

  }
  .icon-vault {
    background: url("/img/icon-2.png");
    width: 5.1rem;
    height: 5.4rem;
  }
  .icon-profile {
    background: url("/img/icon-3.png");
    width: 6.6rem;
    height: 5.2rem;
  }
}

  .futures {
    font-family: $gotham;

    &__main-title {
      display: flex;
      align-items: center;
      flex-direction: column;
      /*margin-bottom: rem(82px);*/
    }

    &__subtitle {
      font-family: $maisonNeue;
      color: $blue;
      line-height: rem(14px);
      letter-spacing: rem(2.29px);

      @include breakpoint(medium) {
        font-size: rem(16px)
      }
    }

    &__title {
      color: $black;
      font-size: 2rem;
      line-height: rem(100px);
      letter-spacing: rem(-2.4px);
      margin: 0;

      @include breakpoint(medium) {
        font-size: 4rem;
      }
    }
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 0 1.625rem;

      &:not(:last-child) {
        margin-top: rem(82px);
      }

      @include breakpoint(medium) {
        display: flex;
        flex-direction: row;
        padding: rem(0 90px);
        margin: rem(72px 0 120px 0);
        /*margin-bottom: rem(190px);*/
      }
    }
    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      max-width: rem(386px);
      width: 100%;

      &--mobile {
        margin-bottom: rem(82px);

        @include breakpoint(medium) {
          margin-bottom: 0;
          &:not(:last-child) {
            border-right: 1px solid $lightgray;
          }
        }
      }
    }
    &__content--title {
      margin-top: rem(20px);
      margin-bottom: rem(20px);
      text-align: center;
    }
    &__text {
      text-align: center;
    }

    .icon-geom1 {
      background: url("/img/icon-geom-1.png");
      width: 7rem;
      height: 6.8rem;
    }
    .icon-geom2 {
      background: url("/img/icon-geom-2.png");
      width: 6.4rem;
      height: 7.5rem;
    }
    .icon-geom3 {
      background: url("/img/icon-geom-3.png");
      width: 6.4rem;
      height: 6.5625rem;
    }
    .icon-geom4 {
      background: url("/img/icon-geom-4.png");
      width: 6.3rem;
      height: 7.4rem;
    }

    .left {
      @include breakpoint(medium) {
        padding-right: rem(120px);
      }
    }

    .right {
      @include breakpoint(medium) {
        padding-left: rem(109px);
      }
    }
  }



    .file {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0 1.625rem;

        @include breakpoint(medium) {
          display: flex;
          flex-direction: row;
        }
      &__container {
        margin: rem(100px 0);
        @include breakpoint(medium) {
          display: flex;
          align-items: center;
          margin: rem(202px 0);
        }
      }
      &__info {
        font-family: $gotham;
        max-width: 391px;
        width: 100%;
        @include breakpoint(medium) {
          margin-right: rem(150px);
          display: flex;
          flex-direction: column;
        }
      }
      &__line {
        background: rgba(165, 172, 178, 0.5);
        width: rem(61px);
        height: rem(2px);
        margin: rem(31px 0);
      }
      &__links {
        font-family: $maisonNeue;
        font-weight: 700;
        line-height: rem(16px);
        letter-spacing: rem(2px);
        margin-bottom: rem(24px);
        color: $gray;

        & a {
          color: $gray;
          &:hover {
            color: $blue;
          }
          &:active {
            color: $blue;
          }
        }
        &--active {
          padding-right: 5px;
          border-right: 1px solid $lightgray;
        }
        &__disable {
          padding-left: 5px;
        }
      }
      &__title {
        line-height: rem(80px);
        letter-spacing: rem(-2.4px);
        font-size: 2rem;
        text-align: center;

        @include breakpoint(medium) {
          font-size: 4rem;
          width: rem(266px);
          text-align: inherit;
        }
      }
    &__text {
      color: $gray;
      font-family: $maisonNeue;
      font-weight: 300;
      line-height: rem(32px);
    }

      &__img {
        display: flex;
        justify-content: center;
      }
      &__pic {
        height: rem(495px);
        max-width: 600px;
        width: 80%;

        @include breakpoint(medium) {
          width: 100%;
        }
      }
    }



    .technologies {
        background: $blue;
     /* background: url("/img/technologiesBg.svg") no-repeat bottom;*/
      &__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: rem(116px);
        padding-bottom: rem(43px);
      }
      &__subtitle {
          opacity: 0.5;
          color: $white;
          font-family: $maisonNeue;
          font-weight: 700;
          line-height: rem(16px);
          letter-spacing: rem(2.29px);
        }
      &__title {
        color: $white;
        font-family: $gotham;
        font-size: 2rem;
        font-weight: 700;
        line-height: rem(100px);
        letter-spacing: rem(-2.4px);
        text-align: center;

        @include breakpoint(medium) {
          font-size: 4rem;
        }
      }

      &__container {
        background: $white;
        display: flex;
        align-items: center;
        flex-direction: column;

        @include breakpoint(medium) {
          display: flex;
          flex-direction: row;
        }
      }
      &__block {
        padding: 0 1.625rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-bottom: rem(40px);

        @include breakpoint(medium) {
          padding: rem(93px 106px);
        }
      }

      &__img {
        width: rem(98px);
        height: rem(112px);
        margin-bottom: rem(40px);
        margin-top: rem(93px);
        @include breakpoint(medium) {
          margin-top: 0;
        }
      }

      &__name {
        color: $black;
        font-family: $gotham;
        font-weight: 500;
        line-height: rem(48px);
        letter-spacing: rem(-0.8px);
      }

      &__title--bottom {
        margin-top: rem(90px);
        line-height: 3rem;
        @include breakpoint(medium) {
          margin-top: rem(304px);
          line-height: 6.25rem;

        }
      }
      &__text {
        color: $gray;
        font-family: $maisonNeue;
        font-weight: 300;
        line-height: rem(24px);
        text-align: center;
      }

      &__actions {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0 1.625rem;
        /*background: url("/img/technologiesBg.svg") no-repeat;*/
      }
      &__text--small {
        opacity: 0.8;
        color: $white;
        font-family: $maisonNeue;
        font-weight: 300;
        line-height: rem(24px);
        margin-bottom: rem(50px);
        margin-top: rem(30px);

        @include breakpoint(medium) {
          padding: 0;
        }
      }
      &__btn {
        color: $blue;
        border: 1px solid $white;
        margin-bottom: rem(138px);
      }
    }