.button {
  width: rem(210px);
  height: rem(44px);
  border-radius: rem(28px);
  line-height: 1.5rem;
  font-size: rem(12px);
  font-family: $gotham;
  letter-spacing: rem(2px);
  cursor: pointer;

  @include breakpoint(medium) {
    width: rem(264px);
    height: rem(56px);
    font-size: rem(14px);
    font-weight: 500;
  }

    &--default {
    background: $white;
    border: 1px solid rgba(67, 70, 72, 0.2);
  }
  &--small {
    width: rem(210px);
    height: rem(44px);
    border-radius: rem(28px);
    border: 1px solid rgba(67, 70, 72, 0.2);
    color: $blue;
    line-height: 1.5rem;
    font-family: $gotham;
    letter-spacing: rem(2px);
    cursor: pointer;
    font-weight: 500;
  }

  &--primary {
    background: $blue;
    border: 1px solid $blue;
    color: $white;
  }

}
