.text {
  font-size: rem(14px);

  &--12 {
    font-size: rem(12px);
  }

  &--14 {
    font-size: rem(14px);
  }

  &--16 {
    font-size: rem(16px);
  }

  &--18 {
    font-size: rem(18px);
  }

  &--24 {
    font-size: rem(24px);
  }

  &--64 {
    font-size: rem(64px);
  }

  &--maisonNeue {
    font-family: $maisonNeue, sans-serif;
  }

  &--gotham {
    font-family: $gotham, sans-serif;
  }

  &--bold {
    font-weight: bold;
  }

  &--uppercase {
    text-transform: uppercase;
  }
}