// Basic font styles
@include htmlFontControl(1200px, 15px);
@include htmlFontControl(992px, 14px);
@include htmlFontControl(768px, 13px);
@include htmlFontControl(576px, 12px);

@font-face {
  font-family: "Bringin";
  src: url("../fonts/Bringin.ttf") format("truetype");
}

// Basic normalize style
a {
  text-decoration: none;
}

// Grid settings