mixin head(title, style)
    head
        title #{title}

        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
        meta(name="keywords" content="")
        meta(name="description" content="")
        meta(name="author" content="")
        meta(name="copyright" content="")
        meta(name="MobileOptimized" content="320")
        meta(name="viewport" content="width=device-width")


        link(rel="stylesheet" href=style)


mixin svg-icon(name, className)
    svg(class=className)
        use(xlink:href="#" + name)